<!DOCTYPE html>
<html>
@using Microsoft.AspNet.Identity
@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.Entity;
@using System.Linq;
@using System.Net;
@using System.Web;
@using System.Web.Mvc;
@using ObjectOriented.Models;
@using Microsoft.AspNet.Identity;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Payroll System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Payroll System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <!--<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Paystubs", "Index", "Paystubs")</li>
                        PayrollDbConnection db = new PayrollDbConnection();
                        AspNetUsers user = db.AspNetUsers.Find(User.Identity.GetUserId());
                        //int num = user.
                        // var notifications = from not in db.Notification where not.RecieverID == user.Id select not;
                        // int num = notifications.Count();

                        //<li>@Html.ActionLink("Notifications " + num, "Index", "Notifications")</li>
                        //}
                        //{
                    
                        if (user.Level == 2 || user.Level == 3)
                        {
                            <li>@Html.ActionLink("Employees", "Index", "Change")</li>
                            <li>@Html.ActionLink("Projs", "Index", "Projects")</li>
                        }
                        if (user.Level == 3)
                        {
                            <li>@Html.ActionLink("Deps", "Index", "Departments")</li>
                            

                        }

                    }s
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Payroll System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
