@model ObjectOriented.ViewModels.ChangeModule
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Promote";
}

<h2>Promote</h2>


@using (Html.BeginForm())
{
    <h4>Promotion Form</h4>
    <hr />
    @Html.AntiForgeryToken()
    <div class="col-md-4 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Level Name</th>
                    <th>Pay Range</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Developer</td>
                    <td>$60k - $90k</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Manager</td>
                    <td>$80k - $120k</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Admin</td>
                    <td>$100k - $300k</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-horizontal col-md-8">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.curUser.Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.curUser.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.curUser.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.curUser.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.curUser.Position, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.curUser.Position, new { htmlAttributes = new { @class = "form-control" } })
                @{var position = ViewBag.Position;}
                @{
                    <span class="text-danger field-validation-error">@position</span>
                }
            </div>
        </div>

        <div class="form-group">
            1 for Developer, 2 for Manager, 3 for Admin
            @Html.LabelFor(model => model.curUser.Level, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.curUser.Level, new { htmlAttributes = new { @class = "form-control" } })
                @{var level = ViewBag.Level;}
                @{
                    <span class="text-danger field-validation-error">@level</span>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.curUser.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.curUser.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @{var salary = ViewBag.Salary;}
                @{
                    <span class="text-danger field-validation-error">@salary</span>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.curUser.Witholdings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.curUser.Witholdings, new { htmlAttributes = new { @class = "form-control" } })
                @{var witholdings = ViewBag.Witholdings;}
                @{
                    <span class="text-danger field-validation-error">@witholdings</span>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PromotionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromotionDate, new { htmlAttributes = new {type="date", @class = "form-control" } })
                @{var date = ViewBag.date;}
                @{
                    <span class="text-danger field-validation-error">@date</span>
                }
            </div>
        </div>

        <!-- HERE IS FOR THE DEPARTMENT AND THE MANAGER PART -->
        <div style="color: black;">
            Only need a Department if Developer or Manager. Only need ManagerEmail if Developer
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.managerEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.managerEmail, new { htmlAttributes = new { @class = "form-control" } })
                @{var managerEmail = ViewBag.ManagerEmail;}
                @{
                    <span class="text-danger field-validation-error">@managerEmail</span>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.departmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departmentName, new { htmlAttributes = new { @class = "form-control" } })
                @{var departmentName = ViewBag.DepartmentName;}
                @{
                    <span class="text-danger field-validation-error">@departmentName</span>
                }
            </div>
        </div>
        @for (var i = 0; i < Model.AllDeps.Count(); i++)
        {
            <div class="form-group">
                @Html.Label("", Model.AllDeps.ToArray()[i].Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => Model.AllDeps.ToArray()[i].Name)
                    @Html.EditorFor(model => Model.whichDeps[i], new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}